<% @article.timesort_comments.each_with_index do |comment, i| %>
    <div id="<%="comment_#{i}"%>" class="comment">
      <h5 style="color: #007bff;"> <%= User.find(comment.user_id).username %> </h5>
      <h5> <%= comment.content %> </h5>
      <% if current_user == comment.user %>
        <%= link_to 'Delete', article_comment_path(@article, comment),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
    <p class="reply-link" onclick="<%="myFunction(#{i})"%>"><%= comment.replies.count %> <%= (comment.replies.count) == 1 ? 'Reply' : 'Replies'%><span class="arrow">&#9660;</span></p>
    <div id="<%="replies_for_#{i}"%>"  style="display:none;">
      <% comment.replies.each_with_index do |reply, i| %>
        <div id="<%="reply_#{i}"%>" class="reply">
          <h5 style="color: #007bff;"> <%= User.find(reply.user_id).username %> </h5>
          <h5> <%= reply.content %> </h5>
          <% if current_user == reply.user %>
            <%= link_to 'Delete', article_comment_reply_path(comment.article, comment, reply),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      <% end %>
      <div id="<%="reply_form_#{i}"%>" class="reply-form">
        <%=form_with(model: [comment.article, comment, comment.replies.build], local: true) do |f|%>
          <%= f.text_area :content, :maxlength => 140 %>
          <%= f.submit "New Reply",
          class: "btn btn-primary",
          type: "submit",
          id: "reply-button" %>
        <% end %>
      </div>
    </div>

<% end %>
