<div id="new-article-div">
  <% if current_user.write_access? %>
    <h3><%= button_to 'New article', new_article_path,
    method: "get",
    type: "button",
    class: "btn btn-primary",
    id: "new-article-button"
    %></h3>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <% @articles.timesort_articles.each_with_index do |article, i| %>
      <div class="col-md-12">
        <div id="<%="article_#{i}"%>" class="article" style="text-decoration:none;">
          <div class="article-body">
            <%= link_to article_path(article) do %>
              <div>
                <h2><strong><%= markdown(article.title) %></strong></h2>
              </div>
              <div>
                <h4> By <%= User.find(article.user_id).username %></h4>
              </div>
              <div class="shortened-text">
                <p><%= simple_format markdown(article.text[0..200]  + '...') %></p>
              </div>
              <p><%= article.likes.count %> <%= (article.likes.count) == 1 ? 'Like' : 'Likes'%></p>
              <p><%= article.comments.count %> <%= (article.comments.count) == 1 ? 'Comment' : 'Comments'%></p>
            <% end %>
          </div>
          <div class="article-reactions">
            <% like = article.likes.find { |like| like.user_id == current_user.id} %>
            <% if like %>
              <div class="blog-button">
                <%= button_to 'Unlike', article_like_path(article, like),
                method: :delete,
                type: "button",
                style: "display:inline-block;",
                class: "btn btn-primary",
                id: "action-button" %>
              </div>
            <% else %>
              <div class="blog-button">
                <%= button_to 'Like', article_likes_path(article),
                method: :post,
                style: "display:inline-block;",
                type: "button",
                class: "btn btn-primary",
                id: "action-button" %>
              </div>
            <% end %>
            <% if current_user == article.user %>
              <div class="blog-button">
                <%= button_to 'Edit', edit_article_path(article),
                style: "display:inline-block;",
                type: "button",
                class: "btn btn-primary",
                method: :get,
                id: "action-button"
                 %>
             </div>
             <div class="blog-button">
              <%= button_to 'Delete', article_path(article),
                      method: :delete,
                      style: "display:inline-block;",
                      type: "button",
                      class: "btn btn-primary",
                      id: "action-button",
                      data: { confirm: 'Are you sure?' } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render 'home/contact_us' %>
