<%= link_to 'Home', controller: 'home' %>

<%= link_to 'New article', new_article_path %>
<ul class="list-group">

  <% @articles.each_with_index do |article, i| %>
    <li class="list-group-item">
      <div id="<%="article_#{i}"%>" class="article" style="text-decoration:none;">
        <%= link_to article_path(article) do %>
          <div>
            <%= article.title %>
          </div>
          <div>
            <%= article.text %>
          </div>
          <div>
            <%= User.find(article.user_id).email %>
          </div>
          <div id="edit-button">
            <%= button_to 'Edit', edit_article_path(article) %>
          </div>
          <div>
            <% if current_user == article.user %>
              <%= link_to 'Delete', article_path(article),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        <% end %>
      </div>
  <% end %>
