<%= link_to 'Home', controller: 'home' %>

<%= link_to 'New article', new_article_path %>
<ul class="list-group">

  <% @articles.each_with_index do |article, i| %>
    <li class="list-group-item">
      <div id="<%="article_#{i}"%>" class="article" style="text-decoration:none;">
        <%= link_to article_path(article) do %>
          <div>
            <strong><%= article.title %></strong>
          </div>
          <div>
            <p><%= article.text[0...100] %>...</p>
          </div>
          <div>
            <h4><em> By <%= User.find(article.user_id).username %></em></h4>
          </div>
          <p><%= article.likes.count %> <%= (article.likes.count) == 1 ? 'Like' : 'Likes'%></p>
        <% end %>
      </div>
      <span>
        <% if current_user == article.user %>
          <%= button_to 'Edit', edit_article_path(article), :method => "get" %>
          <%= button_to 'Delete', article_path(article),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
        <% end %>
      </span>
  <% end %>
