<%= render 'home/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-md-12" id="article-show">
      <h1 class="article-title"><%= @article.title %></h1>
      <h2 class="article-title"><em>By <%= User.find(@article.user_id).username %></em></h2>
      <p><%= simple_format @article.text %></p>

      <% if current_user == @article.user %>
        <%= link_to 'Edit', edit_article_path(@article),
        style: "font-size: 24px;" %>
        <%= link_to 'Delete', article_path(@article),
                method: :delete,
                style: "font-size: 24px;",
                data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>

  <div class="like-button">
    <% like = @article.likes.find { |like| like.user_id == current_user.id} %>
    <% if like %>
      <%= button_to 'Unlike', article_like_path(@article, like),
      method: :delete,
      type: "button",
      class: "btn btn-primary" %>
    <% else %>
      <%= button_to 'Like', article_likes_path(@article),
      method: :post,
      type: "button",
      class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="like-counter">
    <p><%= @article.likes.count %> <%= (@article.likes.count) == 1 ? 'Like' : 'Likes'%></p>
  <div class="comment-form">
    <%= render 'comments/comment' %>
  </div>
  <%= link_to 'Back', articles_path %>
</div>
